body {
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}
section figure{
  font-size:x-small;
}
section div{
  float: left;
  background-color: red;
  width: 25%;
}
section{
  width: 800px;
}